@model MotorCycle.Models.MotorCycleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MotorCycleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MotorCycle.MotorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorCycle.MotorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotorBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotorModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
